

<p id="notice"><%= notice %></p>


<div class = "container">
  
  <div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Basket</h3></div>

  <div class="panel-body">
    <div class = "table-reponsive">
        <table class="table">
            <thead>
              <tr>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
            </thead>

            <tbody>
              <% @orders.each do |order| %>
                <tr> 
                  <td><p><%= order.address %></p></td>
                  <td><p><%= order.latitude %></p></td>
                  <td><p><%= order.longitude %></p></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </br>
</div>
</div>