
<div class = "container">

<div id="stripe_error" class="alert alert-danger" style="display:none">
      <noscript>
        JavaScript is not enabled and is requiredfor this form. First enable it in your web browser settings.
      </noscript>
    </div>

<div class = "well">

<h1>New order</h1>

<%= render 'form' %>

<%= link_to 'Back', shopping_cart_orders_path %>

</div>

</div>